* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-family: 'Ropa Sans';
    color: #FFD600;
    font-size: 64px;
    letter-spacing: 0.75rem;
    width: 25rem;
}

h2 {
    font-family: 'Ropa Sans';
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.25rem;
    height: 4rem;
    line-height: 4rem;
    color: #FFd600;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header {
    background-color: black;
    padding: 5rem 0 5rem 3rem;
}

main {
    background-color: #424242;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

main>article {
    width: 30rem;
    height: 90%;
    background-color: #c4c4c4;
    margin-top: -2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main>article:nth-child(1)>h2 {
    background-color: #535556;
}

li {
    list-style: none;
    background-color: #8E8E8E;
    height: 3rem;
    color: #FFFFFF;
    font-family: Roboto;
    line-height: 3rem;
    padding-left: 1rem;
    font-size: 24px;
}

li:hover {
    cursor: pointer;
}

li:nth-child(2), li:nth-child(4), li:nth-child(6), li:nth-child(8) {
    background-color: #E1DEDE;
    color: #535556;
}

.selected {
    background-color: #444444;
    color: #FFFFFF;
}

li:nth-child(2).selected, li:nth-child(4).selected, li:nth-child(6).selected {
    background-color: #444444;
    color: #FFFFFF;
}

nav {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 1rem;
}

nav>p {
    padding-left: 1rem;
}

button {
    border: unset;
    background-color: unset;
    font-size: 30px;
    width: fit-content;
}

button:hover {
    cursor: pointer;
}

main>article:nth-child(2)>h2 {
    background-color: #748687;
}

.guyDetails {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.guyDetails h3 {
    font-family: Roboto;
    font-size: 30px;
    letter-spacing: 0.25rem;
}

.guyDetails p {
    font-family: Roboto;
    font-size: 18px;
    letter-spacing: 0.25rem;
}

.planetDetails {
    flex-grow: 1;
    background-color: #8E8E8E;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1rem;
}

.planetDetails h3 {
    font-family: Roboto;
    font-size: 30px;
    letter-spacing: 0.25rem;
    color: #FFFFFF;
}

.planetDetails p {
    font-family: Roboto;
    font-size: 18px;
    letter-spacing: 0.25rem;
    color: #FFFFFF;
}





.spinner {
    height: 5rem;
    width: 5rem;
    margin: auto;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    visibility: hidden;
}

article:nth-child(1) .spinner {
    border: 5px solid #8E8E8E;
    border-bottom-color: #C4C4C4;
}

.guyDetails .spinner {
    border: 2.5px solid #8E8E8E;
    border-left-color: #C4C4C4;
    height: 2.5rem;
    width: 2.5rem;
}

.planetDetails .spinner {
    border: 2.5px solid #C4C4C4;
    border-top-color: #8E8E8E;
    height: 2.5rem;
    width: 2.5rem;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}
